<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card mode="ios" color="primary">
      <ion-card-header>
        <ion-card-subtitle>Misiones</ion-card-subtitle>
        <ion-card-title>Ayolas</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Ayolas es una localidad paraguaya ubicada en el departamento de Misiones, 
        ubicado a 305 km de Asunción, en las orillas del río Paraná.      
      </ion-card-content>
  </ion-card>

  <ion-card>
        <ion-item color="primary">
            <ion-icon color="light" slot="start" name="pin"></ion-icon>
            <ion-label>Informacion</ion-label>
          </ion-item>

          <ion-card-content>
            Hay que mencionar que Ayolas cuenta con más de 20.000 habitantes que se dedican principalmente 
            a la ganadería, el comercio, y a la pesca.          
          </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-img src="../../../assets/ayo.jpg"></ion-img>

    <ion-card-content>
      Ayolas tiene un eslogan de ciudad: “Un paraíso junto al Río”. 
      Y no estamos hablando de un río menor, sino del gran Río Paraná.    
    </ion-card-content>

  </ion-card>
</ion-content>
